.slideshow-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.feature-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Notwendig für absolut positionierte Karten */
    width: 100%;
    max-width: 400px;
    height: 400px; /* Einheitliche Höhe */
    overflow: hidden; 
    text-align: center;
    overflow: hidden;
    
   
  }
  
  .feature-card {
    padding: 20px;
    opacity: 0;
    transform: translateX(100%);
    transition: none; /* Entfernt Verzögerungen für keyframes */
    position: absolute; /* Karten übereinander stapeln */
    bottom: 70px;
    left: 0px;
    width: 100%;

    

    mat-icon {
        font-size: 144px; 
        margin-bottom: 20px;/* Standardgröße des Icons */
        color: white;
        display: inline-flex;
        align-items: center; /* Zentrierung des Inhalts */
        justify-content: center; /* Zentrierung des Inhalts */
        height: 100%; /* Füllt den Elterncontainer aus */
        width: 100%; /* Füllt den Elterncontainer aus */
        
    }
  }

  @keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Aktive Karte mit Animation */
.feature-card.active {
    animation: slideIn 0.6s ease-in-out forwards;
    z-index: 2; /* Über die anderen Karten legen */
}

/* Karte, die verschwindet */
.feature-card.previous {
    animation: slideOut 0.6s ease-in-out forwards;
    z-index: 1; 

}
  

  
  .feature-card p {
    color: white; /* Falls Hintergrund dunkel ist */
    font-size: 18px;
    font-weight: bold;
   
}

 
 


  @media (max-width: 920px){  
    .feature-card {
        padding: 20px;
        opacity: 0;
        transform: translateX(100%);
        transition: none; /* Entfernt Verzögerungen für keyframes */
        position: absolute; /* Karten übereinander stapeln */
        bottom: 90px;
        left: 0px;
        width: 100%; 
    }
  }


  @media (max-width: 530px){ 
    .feature-card {
        padding: 20px;
        opacity: 0;
        transform: translateX(100%);
        transition: none; /* Entfernt Verzögerungen für keyframes */
        position: absolute; /* Karten übereinander stapeln */
        bottom: 90px;
        left: 0px;
        width: 100%; 
    }
     }

     @media (max-width: 920px) and (max-height: 1100px) { 
        .feature-card {
            padding: 20px;
            opacity: 0;
            transform: translateX(100%);
            transition: none; /* Entfernt Verzögerungen für keyframes */
            position: absolute; /* Karten übereinander stapeln */
            bottom: 90px;
            left: 0px;
            width: 100%; 
        
            
        
            mat-icon {
                font-size: 24px; 
                margin-bottom: 20px;/* Standardgröße des Icons */
                color: white;
                display: inline-flex;
                align-items: center; /* Zentrierung des Inhalts */
                justify-content: center; /* Zentrierung des Inhalts */
                height: 10%; /* Füllt den Elterncontainer aus */
                width: 10%; /* Füllt den Elterncontainer aus */
                
            }
          }

          .feature-slider {
            height: 250px;
          }
     }


   



