<div class="slideshow-container">



    <div class="feature-slider">
        <div class="feature-card active">
            <mat-icon>dashboard</mat-icon>
            <p>All-in-One Dashboard for Your Data</p>
        </div>
        
        <div class="feature-card">
            <mat-icon>event</mat-icon>
            <p>Easily Organize Events and Meetings</p>
        </div>
        
        <div class="feature-card">
            <mat-icon>people</mat-icon>
            <p>Manage Users and Customers Intuitively</p>
        </div>
        
        <div class="feature-card">
            <mat-icon>login</mat-icon>
            <p>Log in as a Guest to Test the Platform</p>
        </div>
        
          
      
        <!-- Navigation Dots -->
       
      </div>
      



  </div>
  
