<div class="event-container">

  <h1>{{ data.type }}</h1> <!-- Event Type anzeigen -->
  <p>Date: {{ data.date | date: 'MMMM d, y'}}</p>
  <p>Time: {{ data.time }}</p>
  <p>Description: {{ data.description }}</p> <!-- Beschreibung hinzufügen -->
  <p>Participants: {{ data.users.join(', ') }}</p>
  <p>Created By: {{ data.createdBy }}</p>

  <div class="buttons">
    <button mat-button mat-dialog-close>Close</button>

    <div class="two-buttons">
      <button (click)="editEvent()" mat-icon-button color="primary" matTooltip="Edit" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="deleteEvent()" mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

</div>
