.buttons {
    display: flex;
    justify-content: flex-end;

    
}

.event-container {
   
 h1 {
  color: white;
 }

 p {
  color: white;
 }
}


.close-button {
 color: white;
  background-color: transparent;
  border: none;
  font-size: 20px;
  transition: 250ms ease-in-out;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
   transform: scale(1.2);
   color: red;
  }
}


  .delete {
    box-shadow: none;
  }

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
  


  .mat-mdc-dialog-container .mdc-dialog__surface {
    padding: 20px !important;
    background-color: rgba(84, 82, 82, 0.06) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2) !important;
  }





  