<div class="event-container">

  <div class="header">
  <h1>{{ data.type }}</h1>
  <button class="close-button" (click)="close()">
    &#10006;
  </button>
</div>

  <p>Date: {{ data.date | date: 'MMMM d, y' }}</p>
  <p>Time: {{ data.time }}</p>
  <p>Description: {{ data.description }}</p> <!-- Beschreibung hinzufügen -->
  <p *ngIf="data.users?.length > 0">Participants: {{ data.users.join(', ') }}</p>
  <p>Created By: {{ data.createdBy }}</p>

  <div class="buttons">
   

    <div class="two-buttons" *ngIf="data.source !== 'dashboard'">
      <button (click)="editEvent()" mat-icon-button color="primary" matTooltip="Edit" matTooltipPosition="above">
        <mat-icon>edit</mat-icon>
      </button>
  
      <button (click)="deleteEvent()" mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  
</div>
