.legal-notice {
    padding: 46px;
}

.header-pol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1 {
    margin-bottom: 40px;
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.1em;
}

h2 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.spann {
    font-size: 18px;
    color: rgb(170, 170, 170);
    margin-bottom: 30px !important;
}

p {
    font-size: 16px;
    color: rgb(211, 211, 211);
}


li {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(170, 170, 170);
}

.back-button-privacy {
   
    height: 70px;
    margin-bottom: 20px;
   margin-right: 30px;
    color: #ffffff;

  
    .large-icon {
        
        overflow: visible;
      font-size: 40px; /* Standardgröße */
      transition: transform 0.3s ease; /* Animierter Übergang */
    }
  
    button:hover .large-icon {
      transform: scale(1.5); /* Vergrößert das Icon beim Hover */
    }
  }
  