<div class="all-logs-comp">
  <div class="back-button">
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="large-icon">arrow_back</mat-icon>
    </button>
  </div>

  <div class="logs-section">
    <div class="header-top">
      <h3>All Activity Logs</h3>
      <div class="sort-options">
       

        <mat-form-field>
        <mat-select [(ngModel)]="selectedSort" (selectionChange)="onSortChange()">
          <mat-option value="newest">Newest</mat-option>
          <mat-option value="oldest">Oldest</mat-option>
          <mat-option value="users">Users</mat-option>
          <mat-option value="customers">Customers</mat-option>
          <mat-option value="events">Events</mat-option>
          <mat-option value="purchases">Purchase</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>



   
    <ul>
      <li
        class="list-elements"
        *ngFor="let log of filteredLogs"
        [ngClass]="'entity-' + (log.entityType?.toLowerCase() || 'unknown')"
        [style.animationDelay]="log.animationDelay"
      >
        <div class="log-message">
          <strong [innerHTML]="log.details?.message || 'No message available'"></strong>
        </div>
        <div class="buttons-container">
          <small *ngIf="log.timestamp">
            {{ log.timestamp | date: "MMMM d, y, h:mm a" }}
          </small>
        </div>
      </li>
    </ul>
  </div>
</div>
