<div class="all-logs-comp">

<div class="back-button">
    <button mat-icon-button (click)="goBack()">
        <mat-icon class="large-icon">arrow_back</mat-icon>
      </button>
    </div>
  



<div class="logs-section">

    

    <div class="header-top">
        <h3>All Activity Logs</h3>
        <div class="sort-options">
          <label for="sort" class="form-label">Sort by</label>
          <select id="sort" class="custom-select" [(ngModel)]="selectedSort" (change)="onSortChange()">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="users">Users</option>
            <option value="customers">Customers</option>
            <option value="events">Events</option>
          </select>
        </div>
      </div>
      


<ul>
    <li
      class="list-elements"
      *ngFor="let log of filteredLogs"
      [ngClass]="'entity-' + (log.entityType?.toLowerCase() || 'unknown')"
      [style.animationDelay]="log.animationDelay"
    >
      <div class="log-message">
        <strong [innerHTML]="generateLogMessage(log)"></strong>
      </div>
      <div class="buttons-comtainer">
        <small *ngIf="log.timestamp">{{
          log.timestamp | date : "MMMM d, y"
        }}</small>
        <a
          *ngIf="
            log.entityType === 'customer' &&
            (log.action === 'edit' || log.action === 'add')
          "
          (click)="navigateToCustomerDetails(log)"
          class="see-details-link"
        >
          View Customer Details
        </a>
        <a
          *ngIf="
            log.entityType === 'user' &&
            (log.action === 'edit' || log.action === 'add')
          "
          (click)="navigateToUserDetails(log)"
          class="see-details-link"
        >
          View User Details
        </a>

        <a
          *ngIf="log.entityType === 'event' && log.action === 'add'"
          (click)="openAddedEventDetails(log)"
          class="see-details-link"
        >
          View Event Details
        </a>

        <a
          *ngIf="log.entityType === 'event' && log.action === 'edit'"
          (click)="openLogDetails(log)"
          class="see-details-link"
        >
          See Details
        </a>
      </div>
    </li>
  </ul>
  
</div>