.logs-section {
    margin-top: 20px;
  }
  
  .logs-section ul {
    list-style: none;
    padding: 0;
  }
  
  .logs-section li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }


  .log-message {
    display: flex;
    align-items: center;
  }




  


  .buttons-comtainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  


  .see-details-link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  
  .see-details-link:hover {
    text-decoration: underline;
  }
  


  .logs-section ul li {
    opacity: 0;
    transform: translateY(-20px); // Initial von oben
    animation: fadeInUp 0.3s ease-out forwards; // Standardanimation
  }
  
  // Keyframes für das sanfte Auffächern
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px); // Startet über der Position
    }
    to {
      opacity: 1;
      transform: translateY(0); // Endzustand
    }
  }
  

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .back-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  

  .logs-section {
    margin-top: 0;
      .list-elements {
        display: flex;
        justify-content: space-between;
        padding: 0;
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        &.entity-user {
            border-left: 4px solid #adb2cd; /* Weiches Indigo */
          }
          
          &.entity-customer {
            border-left: 4px solid #b2cfb3; /* Helles Pastellgrün */
          }
          
          &.entity-event {
            border-left: 4px solid #e7c38e; /* Weiches Pastellorange */
          }
          
          &.entity-unknown {
            border-left: 4px solid #e0e0e0; /* Helles Grau */
          }
      }
    
    }