.all-logs-comp {
    padding: 46px;
}

.logs-section {
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h3 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      margin-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;

      height: 60px;

      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.06);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);

      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5); /* Gleichmäßiger Schatten */
      box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5);

      strong {
        color: white;
        font-weight: 400;
      }

      small {
        color: white;
      }

      &.entity-user {
        border-left: 5px solid #e58765; /* Neutral Slate Blue */
        box-shadow: -8px 0 8px -2px rgba(229, 135, 101, 0.4);
      }
      
      &.entity-customer {
        border-left: 5px solid #68D391; /* Soft Mint Green */
        box-shadow: -8px 0 8px -2px rgba(104, 211, 145, 0.4);
      }
      
      &.entity-event {
        border-left: 5px solid #55b0f6; /* Modern Pastel Orange */
        box-shadow: -8px 0 8px -2px rgba(85, 176, 246, 0.4);
      }
      
      &.entity-unknown {
        border-left: 10px solid #CBD5E0; /* Light Neutral Gray */
        box-shadow: -8px 0 8px -2px rgba(203, 213, 224, 0.4);
      }
      
    }

    .log-message {
      display: flex;
      align-items: center;
    }

    .buttons-comtainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      a {
        color: #4f9dff; /* Helles Blau */

        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.logs-section ul li {
  opacity: 0;
  transform: translateY(-20px); // Initial von oben
  animation: fadeInUp 0.3s ease-out forwards; // Standardanimation
}

// Keyframes für das sanfte Auffächern
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px); // Startet über der Position
  }
  to {
    opacity: 1;
    transform: translateY(0); // Endzustand
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
margin-bottom: 30px;


  h3 {
    color: #ffffff;
  }
}


.sort-options {
    display: flex;
   align-items: center;

    gap: 5px;
  }
  
  .form-label {
    font-size: 14px;
    color: #fff;
  }
  
 .custom-select {
    width: 200px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent; /* Hintergrund schwarz */
    color: #ffffff;
    appearance: none; /* Entfernt das Standard-Design */
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-select option {
    background-color: #1F1F1F; /* Dropdown-Hintergrund schwarz */
    color: #ffffff; /* Textfarbe weiß */
    padding: 10px;
}
.custom-select:hover {
    border-color: #555;
}

.custom-select:focus {
    outline: none;
   
  
}

.back-button {
    height: 70px;
    margin-bottom: 10px;
    color: #ffffff;

  
    .large-icon {
        overflow: visible;
      font-size: 30px; /* Standardgröße */
      transition: transform 0.3s ease; /* Animierter Übergang */
    }
  
    button:hover .large-icon {
      transform: scale(1.5); /* Vergrößert das Icon beim Hover */
    }
  }





.form-field {
    color: white!important;
   background-color: black;
}




