<div class="customer-component">

<div class="back-button">
  <button mat-icon-button (click)="goBack()">
      <mat-icon class="large-icon">arrow_back</mat-icon>
    </button>
  </div>  





  
  <mat-card class="customer-detail-header" >
    <div class="heading-wrapper">
      <div class="line"></div>
    <h1> Details Customer</h1>
  </div>


  <div class="customer-content">
    <div class="left-section">
      <div class="profile-picture-container">
        <div class="image-wrapper">
    <img
      [src]="customer.profilePicture || '/assets/img/user.png'"
      [ngClass]="{
        'default-picture': !customer.profilePicture,
        'uploaded-picture': customer.profilePicture
      }"
      alt="Profile Picture"
    />
  </div>
    <button
      (click)="addOrEditProfilePicture()"
      class="add-picture-button"
      
      mat-fab
      color="primary"
      matTooltip="Add/Edit picture"
      matTooltipPosition="above"
    >
      <mat-icon *ngIf="!customer.profilePicture">add</mat-icon>
      <mat-icon *ngIf="customer.profilePicture">edit</mat-icon>
    </button>
  </div>
</div>





  <div class="customer-details">



    <h2>{{ customer.firstName }} {{ customer.lastName }}</h2>


    

    <div class="customer-details-under">


      <div class="left-customer">
    <div class="role-container">
      <span class="thin-role">Customer Since</span>

      <span class="since"> {{ customer.createdAt | date: 'MMMM d, y' }}</span>
    </div>


    <div class="role-container">
      <div class="status-container">
        <label class="thin-role-select" for="status-select">Status</label>
        <select class = "selectbar"
  
          id="status-select"
          [(ngModel)]="customer.status"
          (change)="updateCustomerStatus(customer.status)"
        >
          <option value="new">New</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
          <option value="pending">Pending</option>
        </select>
      </div>
     </div>

    </div>






    <div class="middle-customer">
    <div class="role-container">
    <span class="thin-role">E-mail </span>
     <a 
      href="mailto:{{ customer.email }}" 
      class="email-link">
      {{ customer.email || 'No email provided' }}
    </a>
    </div>


    <div class="role-container">
      <span class="thin-role"> City </span>
      <span class="since"> {{ customer.address.zipCode  }} {{ customer.address.city || 'No city provided' }} </span>
       </div>
    
      </div>






      <div class="middle-customer">

    <div class="role-container">
    <span  class="thin-role">Phone </span>
     <a 
      href="tel:{{ customer.phone.toString() }}" 
      class="phone-link">
      {{ customer.phone || 'No phone number provided' }}
    </a>
    </div>

    <div class="role-container">
      <span class="thin-role"> Street </span>
      <span class="since">{{ customer.address.street || 'No street provided' }}</span>
    </div>
  </div>




   



   

  
  </div>

  </div>


  
  <div class="edit-container">
    <button mat-icon-button
     class="custom-edit-icon"
      (click)="editCustomerDetails()">
      <mat-icon>edit_square</mat-icon>
    </button>
  
  </div>

</div>


</mat-card>



<mat-card class="add-purchase-section">
 

 
 
    <div class="heading-wrapper-p">
      <div class="line"></div>
      <h1>Purchase History & Overview</h1>
    </div>




    <div class="inside-card"> 
    <div class="add-pchase-sec">
    <div class="form-group-wrapper">
    <div class="form-group">
      <!-- Auswahl für Produkte -->
      <label for="product-select">Select Product</label>
      <select id="product-select" [(ngModel)]="selectedProduct" class="input-field">
        <option value="Product A">Product A</option>
        <option value="Product B">Product B</option>
        <option value="Product C">Product C</option>
      </select>
    </div>
  
    <div class="form-group">
      <!-- Eingabefeld für die Menge -->
      <label for="quantity-input">Quantity</label>
      <input
        id="quantity-input"
        type="number"
        [(ngModel)]="purchaseQuantity"
        min="1"
        class="input-field-number"
      />
    </div>

    <div class="form-group">
      <label for="purchase-type">Purchase Type</label>
      <select id="purchase-type" [(ngModel)]="purchaseType" class="input-field">
        <option value="Online">Online</option>
        <option value="In-Store">In-Store</option>
        <option value="Subscription">Subscription</option>
      </select>
    </div>
    
  </div>


  
   
    <button class="add-button" (click)="addPurchase(selectedProduct, purchaseQuantity, purchaseType)">
      Add Purchase
    </button>


  </div>



  



   
    <div class="dashboard-grid">
     
      <div class="dashboard-item">
        <label>Total Purchases</label>
        <p>{{ customer.purchases.length || 0 }}</p>
      </div>
  
     
      <div class="dashboard-item">
        <label>Total Spent</label>
        <p>${{ getTotalSpent() }}</p>
      </div>
  
      
      <div class="dashboard-item">
        <label>Avg. Purchase Value</label>
        <p>${{ getAveragePurchaseValue() }}</p>
      </div>
  
     
      <div class="dashboard-item">
        <label>Most Purchased Product</label>
        <p>{{ getMostPurchasedProduct() || 'N/A' }}</p>
      </div>


      
    
      
    </div>







    <div class="customer-container">
    
      <div #chartContainer class="chart-container">
        <ngx-charts-bar-vertical
        
        [view]="[width, height]"
          [scheme]="colorScheme"
          [results]="barChartData"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxisTickFormatting]="yAxisTickFormatting"
          [roundEdges]="false"
          yAxisLabel="Total Spent">
        </ngx-charts-bar-vertical>
      </div>
      
    </div>





    
      
    







  </div>



</mat-card>



<div class="snackbar" id="snackbar">Purchase successfully added!</div>















</div>