<div class="back-button">
  <button mat-icon-button (click)="goBack()">
      <mat-icon class="large-icon">arrow_back</mat-icon>
    </button>
  </div>  
  
  <mat-card class="user-detail-header" >
  <div class="edit-container">
    <button mat-icon-button class="custom-edit-icon" (click)="editCustomerDetails()">
      <mat-icon>edit_square</mat-icon>
    </button>
  
  </div>
  <div class="profile-picture-container">
    <img
      [src]="customer.profilePicture || '/assets/img/user.png'"
      [ngClass]="{
        'default-picture': !customer.profilePicture,
        'uploaded-picture': customer.profilePicture
      }"
      alt="Profile Picture"
    />

    <button
      (click)="addOrEditProfilePicture()"
      class="add-picture-button"
      mat-fab
      color="primary"
      matTooltip="Add/Edit picture"
      matTooltipPosition="above"
    >
      <mat-icon *ngIf="!customer.profilePicture">add</mat-icon>
      <mat-icon *ngIf="customer.profilePicture">edit</mat-icon>
    </button>
  </div>

  <div class="user-details">
    <h2>{{ customer.firstName }} {{ customer.lastName }}</h2>
    <p>Customer Since: {{ customer.createdAt | date: 'MMMM d, y' }}</p>



  </div>
</mat-card>




<mat-card class="user-detail-address" >
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item>Edit</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="address-content">
    <span> Street: {{ customer.address.street }}</span>
    <span> City:  {{ customer.address.city }} {{ customer.address.zipCode }}</span>
    <span> Country: {{ customer.address.country }}</span>
  </mat-card-content>
</mat-card>



<mat-card class="user-detail-address" >
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item>Edit</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  
    <mat-card-header>
      <mat-card-title>Contact</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class="address-content">
      <span>E-mail:  <a 
        href="mailto:{{ customer.email }}" 
        class="email-link">
        {{ customer.email }}
      </a></span>
      <span>Phone: <a 
        href="tel:{{ customer.phone.toString() }}" 
        class="phone-link">
        {{ customer.phone }}
      </a>
  </span>
    </mat-card-content>
  </mat-card>


<mat-card class="user-detail-address" >
  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item>Edit</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Notes</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="address-content">
    <span>{{ customer.notes }}</span>
  </mat-card-content>
</mat-card>





