<div class="customer-component">

<div class="back-button">
  <button mat-icon-button (click)="goBack()">
      <mat-icon class="large-icon">arrow_back</mat-icon>
    </button>
  </div>  





  
  <mat-card class="customer-detail-header" >
    <div class="heading-wrapper">
      <div class="line"></div>
    <h1> Details Customer</h1>
  </div>


  <div class="customer-content">
    <div class="left-section">
      <div class="profile-picture-container">
        <div class="image-wrapper">
    <img
      [src]="customer.profilePicture || '/assets/img/user.png'"
      [ngClass]="{
        'default-picture': !customer.profilePicture,
        'uploaded-picture': customer.profilePicture
      }"
      alt="Profile Picture"
    />
  </div>
    <button
      (click)="addOrEditProfilePicture()"
      class="add-picture-button"
      mat-fab
      color="primary"
      matTooltip="Add/Edit picture"
      matTooltipPosition="above"
    >
      <mat-icon *ngIf="!customer.profilePicture">add</mat-icon>
      <mat-icon *ngIf="customer.profilePicture">edit</mat-icon>
    </button>
  </div>
</div>





  <div class="customer-details">



    <h2>{{ customer.firstName }} {{ customer.lastName }}</h2>



    <div class="customer-details-under">
    <div class="role-container">
      <span class="thin-role">Customer Since</span>

      <span class="since"> {{ customer.createdAt | date: 'MMMM d, y' }}</span>
    </div>



    <div class="role-container">
    <span class="thin-role">E-mail </span>
     <a 
      href="mailto:{{ customer.email }}" 
      class="email-link">
      {{ customer.email }}
    </a>
    </div>



    <div class="role-container">
    <span  class="thin-role">Phone </span>
     <a 
      href="tel:{{ customer.phone.toString() }}" 
      class="phone-link">
      {{ customer.phone }}
    </a>
    

    </div>



    <div class="status-container">
      <label class="label-status" for="status-select">Status:</label>
      <select class = "selectbar"

        id="status-select"
        [(ngModel)]="customer.status"
        (change)="updateCustomerStatus(customer.status)"
      >
        <option value="new">New</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="pending">Pending</option>
      </select>
    </div>
    
   
  </div>


    


    
  
  </div>

  </div>


  
  <div class="edit-container">
    <button mat-icon-button
     class="custom-edit-icon"
      (click)="editCustomerDetails()">
      <mat-icon>edit_square</mat-icon>
    </button>
  
  </div>

 


</mat-card>




<mat-card class="customer-detail-address" >
 
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="address-content">
    <span> Street: {{ customer.address.street }}</span>
    <span> City:  {{ customer.address.city }} {{ customer.address.zipCode }}</span>
    <span> Country: {{ customer.address.country }}</span>
  </mat-card-content>
</mat-card>



<mat-card class="customer-detail-address" >
    <mat-menu #addressMenu="matMenu">
      <button mat-menu-item>Edit</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  
    <mat-card-header>
      <mat-card-title>Contact</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class="address-content">
      
      
    </mat-card-content>
  </mat-card>


<mat-card class="customer-detail-address" >
  

  <mat-card-header>
    <mat-card-title>Notes</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="address-content">
    <span>{{ customer.notes }}</span>
  </mat-card-content>
</mat-card>





</div>