.mat-drawer-container {
    height: 100vh;
}

.menu {
    cursor: pointer;
}


.sidenav {
    width: 300px;
   
}

.logo-container {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    padding-left: 16px;
    padding-right: 16px;

    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 200px;
    }
}


.mat-toolbar {
    min-height: 76px;
    height: 76px;
}


.mat-toolbar-row {
    min-height: 76px;
    height: 76px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    >li {
        padding-left: 26px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
       cursor: pointer;

       mat-icon {
        margin-right: 16px;
       }

       &:hover {
        background-color: rgb(0, 0, 0, 0.04);
       }
    }
}


.router-container {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 56px;
}


.mat-drawer-container {
    background-color: lightgray;
}

.mat-drawer-side {
    background-color: lightgray;
}



.user-status {
    display: flex;
    justify-content: space-between;
}