.mat-drawer-container {
    height: 100vh;
    background-color: #1F1F1F;
}

.menu {
    cursor: pointer;
    color: #ffffff;
}


.sidenav {
    width: 300px;
   
}

.username {
    color: #ffffff;
}


.person-icon {
    color: #ffffff;
}


.logout {
    color: white;
}


.logout-icon {
    color: white;
}

.logo-container {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    padding-left: 16px;
    padding-right: 16px;

    min-height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(71, 71, 71);
    img {
        width: 200px;
        filter: invert(100%) brightness(100%);
    }
}


.mat-toolbar {
    min-height: 100px;
    height: 100px;
}


.mat-toolbar-row {
    min-height: 100px;
    height: 100px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    >li {
        padding-left: 26px;
        padding-right: 16px;
        height: 58px;
        display: flex;
        align-items: center;
       cursor: pointer;
       font-size: 20px;
      

       mat-icon {
        margin-right: 16px;
       }

       &:hover {
        background-color: rgb(0, 0, 0, 0.04);
       }
    }
}


.router-container {
    padding-top: 46px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 46px;
    background-color: #1F1F1F;
    height: 100vh;
}


.mat-drawer-container {
    
}

.mat-drawer-side {
   
}



.user-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >p {
        margin-bottom: 0;
    }
}

.mat-toolbar-div {
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.sidenav {
    width: 250px;
    background-color: #1F1F1F; /* Dunkler Hintergrund */
    color: #000000; /* Grauer Text */
    box-shadow: 2px 4px 8px -2px rgba(255, 255, 255, 0.09);
}


.header {
    background-color: #1F1F1F;
    box-shadow: 0px 4px 8px -2px rgba(255, 255, 255, 0.09);
    position: relative;
    z-index: 10;
    min-height: 60px;
    padding: 10px 20px;
}


.user-name {
    display: flex;
    align-items: center;

}

.links {
    color: #ffffff;
}