<div >

<h2 mat-dialog-title>Add Customer</h2>
<form   [formGroup]="customerForm">
  <mat-dialog-content class="add-customer-comtainer">
    <!-- First Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="Enter first name" />
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Enter last name" />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Enter email" />
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" type="tel" placeholder="Enter phone number" />
    </mat-form-field>

    <h3>Address</h3>
    <!-- Address: Street -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" placeholder="Enter street" />
    </mat-form-field>

    <!-- Address: City -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="Enter city" />
    </mat-form-field>

    <!-- Address: ZIP Code -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>ZIP Code</mat-label>
      <input matInput formControlName="zipCode" type="number" placeholder="Enter ZIP code" />
    </mat-form-field>

    <!-- Address: Country -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" placeholder="Enter country" />
    </mat-form-field>

    <!-- Notes -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes" placeholder="Enter any additional notes"></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="buttons-customer-comtainer">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [disabled]="!customerForm.valid" (click)="saveCustomer()">Save</button>
  </mat-dialog-actions>
</form>

</div>
