* {
    scrollbar-width: thin; /* Für Firefox */
    scrollbar-color: rgb(83, 82, 82) transparent; /* Farbe für Firefox */
  
    /* Für WebKit-basierte Browser */
    &::-webkit-scrollbar {
      width: 2px; /* Extra dünne Breite */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(47, 47, 47); /* Farbe des Scrollbalkens */
      border-radius: 10px; /* Runde Ecken */
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(47, 46, 46); /* Hover-Farbe für den Scrollbalken */
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent; /* Transparenter Hintergrund für die Scrollbar-Spur */
    }
  }
  



  
  

  html,
body {
  font-family: "DM Sans", serif;
  font-weight: 400; /* Du kannst auch ein anderes Gewicht wählen */
}

*,
*::before,
*::after {
  font-family: "DM Sans", serif;
}


.ngx-charts-axis-label .ng-reflect-label text {
  fill: white !important; /* Ändert die Textfarbe auf Weiß */
}
