.customer-component {
  padding: 46px;
  background-color: #0f0f0f;
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
  
}


@keyframes fadeIn {
  0% {
    opacity: 0; /* Start völlig transparent */
  }
  50% {
    opacity: 0.5; /* Halbtransparent in der Mitte */
  }
  100% {
    opacity: 1; /* Vollständig sichtbar */
  }
}

.add-customer-button {
   
}

.button-margin {
 display: flex;
 align-items: center;
}



.user-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
}

.left-section {
  
 display: flex;
 align-items: center;
}



.heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.line {
  width: 6px;
  height: 30px; /* Höhe des Strichs */
  background-color: #4250A9; /* Grün */
  border-radius: 4px; /* Optional: Abgerundete Ecken */
  margin-right: 15px; /* Abstand zum Text */
}

.heading {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; /* Textfarbe */
}


.customer-list {
  padding: 20px;
  border-radius: 20px;
  background-color: #101010;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: #161616;
  border-bottom: 1px solid #343434;/* Kopfzeilenfarbe */
  color: white;
  padding: 20px; /* Innenabstand */
  font-size: 20px;
  border-radius: 20px 20px 0 0; /* Abgerundete obere Ecken */
  margin-bottom: 20px;
}

.under-tr {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: #161616;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin-bottom: 20px; /* Abstand zwischen Zeilen */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Weiche Übergänge */
}

.under-tr:hover {
  transform: translateY(-5px) scale(1.02); /* Leicht nach oben und größer */
  box-shadow: rgba(0, 0, 0, 0.6) 0px 35px 30px -20px; /* Intensiverer Schatten beim Hover */
}



.customer-stats {
  color: #d2d2d2;
font-size: 20px;
}

   
  
 


  .mat-mdc-card {
    border-radius: var(--mdc-elevated-card-container-shape);
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-color: white !important;
    box-shadow: white !important;
  }

  .headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 40px;
   

    h1 {
      font-size: 36px;
      font-family: "DM Sans", serif;
      color: white;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }



.status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 30px;
}

.status-new {
  background-color: blue;
  filter: drop-shadow(0 0 8px rgb(103, 103, 251));
}

.status-active {
  background-color: green;
  filter: drop-shadow(0 0 8px green);
}

.status-inactive {
  background-color: red;
  filter: drop-shadow(0 0 8px red);
}

.status-pending {
  background-color: orange;
  filter: drop-shadow(0 0 8px orange);
}





.search-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Passe die Breite nach Bedarf an */
  max-width: 300px;
  margin-bottom: 10px;
 
}

.search-label {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4c5ab3; /* Label-Farbe */
}

.search-input {
  width: 100%;
  padding: 8px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #4c5ab3; /* Farbe für den Fokuszustand */
}