<div class="customer-component">
<div class="headercontainer">
<h1>Customers</h1>


<div class="search-container">
 
    <input
      id="search-input"
      type="text"
      class="search-input"
      [(ngModel)]="searchQuery"
      placeholder="Search customers by name"
      (input)="filterCustomers()"
    />
  </div>

</div>

  
  <mat-card>
    <table class="customer-table">
      <thead> 
      <tr class="header-row">
        <th>Status</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr class="under-tr" *ngFor="let customer of filteredCustomers">

        <td [routerLink]="['/customer', customer.id]" class="status-column">
          <span class="status-circle status-{{ customer.status }}">

          
          </span>
        </td>

        <td [routerLink]="['/customer', customer.id]">{{ customer.firstName }}</td>
        <td [routerLink]="['/customer', customer.id]">{{ customer.lastName }}</td>
        <td  [routerLink]="['/customer', customer.id]">{{ customer.email }}</td>
        <td  [routerLink]="['/customer', customer.id]">{{ customer.phone }}</td>
        
        <td>
         
          <button mat-icon-button color="warn" (click)="openDeleteDialog(customer)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    </table>
  </mat-card>
  
  <!-- Add Customer Button -->
  <button
    (click)="openAddDialog()"
    class="add-customer-button"
    mat-fab
    color="primary"
    matTooltip="Add customer"
    matTooltipPosition="above"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>