.customer-component {
  padding: 46px;
}

.add-customer-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Passe die Breite nach Bedarf an */
  max-width: 300px;
  margin-bottom: 40px; /* Optional: Maximale Breite */
}

.search-label {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4c5ab3; /* Label-Farbe */
}

.search-input {
  width: 100%;
  padding: 8px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #4c5ab3; /* Farbe für den Fokuszustand */
}



  .customer-table {
    border-collapse: separate; /* Verhindert, dass Header und Rows aneinanderkleben */
    border-spacing: 0 30px; /* Fügt vertikalen Abstand zwischen Header und Rows hinzu */
    width: 100%;
    color: white; /* Für besseren Kontrast */
     background-color: transparent !important;
     border: none;
   
    td {
      padding: 10px; /* Innenabstand für Zellen */
      font-size: 20px;
    }
  
  }
  
  
  .table-header-container {
      border-radius: 20px; /* Abgerundete Ecken */
      overflow: hidden; /* Verhindert, dass Inhalte die Ecken überschreiten */
      background-color: #444444; /* Hintergrundfarbe */
      color: white;
      display: flex;
      justify-content: space-between;
    }
  
   
  
  .header-row {
    background-color: #444444; /* Kopfzeilenfarbe */
    padding: 20px; /* Innenabstand */
    text-align: left;
    font-size: 20px;
    border-radius: 20px !important;
    height: 70px;
  
    th {
      padding: 10px;
    }
  }
  
  .under-tr {
      background-color: #2d2d2d;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Weiche Übergänge */
    }
    
    .under-tr:hover {
      transform: translateY(-5px) scale(1.02); /* Leicht nach oben und größer */
      box-shadow: rgba(0, 0, 0, 0.6) 0px 35px 30px -20px; /* Intensiverer Schatten beim Hover */
    }
  
  .customer-table 
  
  .user-table tr:first-of-type {
    margin-bottom: 35px; /* Abstand zwischen Header und erster Zeile */
  }


  .mat-mdc-card {
    border-radius: var(--mdc-elevated-card-container-shape);
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-color: white !important;
    box-shadow: white !important;
  }

  .headercontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    h1 {
      color: white;
    }
  }




  .customer-table {
    border-collapse: separate; /* Verhindert, dass Header und Rows aneinanderkleben */
    border-spacing: 0 30px; /* Fügt vertikalen Abstand zwischen Header und Rows hinzu */
    width: 100%;
    color: white; /* Für besseren Kontrast */
    background-color: transparent !important;
    border: none;
  
    /* Animation für die gesamte Tabelle */
    animation: smoothFadeIn 0.8s ease-out;
  
    > thead {
      border-radius: 20px !important;
    
      border: 1px solid #ddd;
      overflow: hidden;
    }
  
    
  
    /* Keyframes für die Tabelle */
    @keyframes smoothFadeIn {
      0% {
        transform: scale(0.9); /* Start leicht kleiner */
        opacity: 0; /* Unsichtbar */
      }
      50% {
        transform: scale(1); /* In Position */
        opacity: 0.5; /* Halb sichtbar */
      }
      100% {
        transform: scale(1); /* Endzustand */
        opacity: 1; /* Voll sichtbar */
      }
    }

}


/* Standardstatus-Styles */
/* Standardstatus-Styles */
.status {
  font-weight: bold;
  
}

/* Status: New (Grün) */
.status.new {
  color: green;
  filter: drop-shadow(0 0 8px green);
}

/* Status: Active (Blau) */
.status.active {
  color: rgb(103, 103, 251);
  filter: drop-shadow(0 0 8px rgb(103, 103, 251));
}

/* Status: Inactive (Rot) */
.status.inactive {
  color: red;
  filter: drop-shadow(0 0 8px red);
}

/* Status: Pending (Orange) */
.status.pending {
  color: orange;
  filter: drop-shadow(0 0 8px orange);
}
