<h2>User Calendar</h2>

<!-- FullCalendar Instanz -->
<full-calendar #calendar [options]="calendarOptions"></full-calendar>

<!-- Buttons für Aktionen -->
<mat-dialog-actions>
  <div class="button-container">
    <!-- Button zum Hinzufügen eines Events -->
    <button 
      color="primary" 
      class="event-button" 
      mat-flat-button 
      (click)="openAddEventDialog()">
      Add Event
    </button>

    <!-- Button für die Monatsansicht -->
    <button 
      color="secondary" 
      class="event-button" 
      mat-flat-button 
      (click)="switchToMonthView()" 
      *ngIf="showMonthViewButton">
      Month View
    </button>
  </div>
</mat-dialog-actions>
