.calendar-angular {
    padding: 46px;
}



.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 20px;
  
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #fff; // Passe die Farbe an deine App an
    }

    button {
        background: none;
        border: none;
    }

    .arrow svg {
        transition: transform 0.1s ease-in-out, stroke 0.3s ease-in-out;
    }
    
    .arrow:hover svg {
        transform: scale(1.1);
        stroke: #ddd; /* Leuchtender Effekt beim Hover */
    }
    

 

}
  

::ng-deep .cal-month-view {
    background-color: #181818 !important;
}

 ::ng-deep .cal-month-view .cal-cell {
    background-color: #181818 !important; 
    color: rgb(255, 255, 255) !important; 
    border: none !important;
  } 
 

 
::ng-deep .cal-month-view .cal-days .cal-cell-row {
    border: none !important;
   
}



::ng-deep .cal-month-view .cal-days {
    border: none !important;
    border-bottom: 0;
}


::ng-deep .cal-month-view .cal-header {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px; /* Verwende padding statt margin */
    color: #1F1F1F;
    background-color: #1F1F1F;
}


::ng-deep .cal-month-view .cal-day-number {
    color: white !important; /* Schriftfarbe */
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    margin-bottom: 5px;
}



::ng-deep .cal-month-view .cal-cell-top {
    background-color: #353434 !important;
    margin: 10px;
    border-radius: 10px;
    min-height: 100px;
}



  ::ng-deep .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.3 !important;
    cursor: default;
    color: rgb(255, 255, 255) !important;
}


::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.1em;
    padding: 3px;
   
    border-radius: 5px; /* Abgerundete Ecken für einen moderneren Look */
    background-color: transparent !important; /* Transparenten Hintergrund sicherstellen */
    box-shadow: 0 0 10px rgb(255, 0, 0); /* Optional: Leichtes Leuchten um den heutigen Tag */
}



.add-event-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.custom-cell {
    background-color: rgba(107, 107, 107, 0.2); /* Gelb für Debugging */
    color: white;
    min-height: 150px;
    margin: 5px;
    border-radius: 10px;
}
 
 
  
  .day-number {
    font-weight: bold;
    padding-top: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: right;
  }
  
  .custom-event {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    overflow-y: auto;
    transition: transform 0.2s ease-in-out; /* Animation für sanften Übergang */
  }
  
  .custom-event:hover {
    transform: scale(1.05); /* Leicht vergrößern beim Hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Schatten hinzufügen */
  }
  

  
  .custom-event .event-time {
    margin-right: 5px;
    font-weight: bold;
    color: #000000;
  }
  
  .custom-event .event-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
  }
  

  .calendar-wrapper {
    display: flex;
    flex-direction: row-reverse; // Sidebar links
    align-items: flex-start;
  }


  .sidebar-wrapper {
    margin-top: 70px;
margin-right: 10px;
    h2 {
        color: white;
        text-align: center;
    }
  }
  
  .sidebar {
    border-radius: 10px;
    position: relative;
    width: 300px; // Breite der Sidebar
    background-color: rgba(107, 107, 107, 0.2);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); // Schatten für die Sidebar
    height: 800px; // Volle Höhe für die Sidebar
    overflow-y: auto; // Scrollbar für Inhalte
overflow-x: hidden;
    p {
        color: #8e8d8d;
        font-size: 24px;
        position: absolute;
        bottom: 400px;
        text-align: center;
        line-height: 1.5em;
    }
  }
  
  .calendar-component {
    flex: 1; // Kalender nimmt den restlichen verfügbaren Platz ein
    margin-right: 20px;
  }
  




  @keyframes slideInFromRight {
    from {
      transform: translateX(-100%); /* Start außerhalb des Sichtbereichs */
      opacity: 0; /* Unsichtbar zu Beginn */
    }
    to {
      transform: translateX(0); /* Endposition innerhalb des Containers */
      opacity: 1; /* Vollständig sichtbar */
    }
  }
  
  .event-details-content {
    animation: slideInFromRight 0.5s ease-out; /* Wende die Animation an */
  }
  

  .event-button {
    position: absolute;
    bottom: 36px;
    left: 50px;
  }