<div class="help-container">


    <div class="header-pol">
    <h1>Help</h1>
    <div class="back-button-privacy">
        <button mat-icon-button (click)="goBack()">
            <mat-icon class="large-icon">arrow_back</mat-icon>
          </button>
        </div>  

    </div>


    <p>Welcome to the help page for <strong>CRM System</strong>, your guide to managing users, customers, and events efficiently. Here, you'll find an overview of what this CRM can do, how it benefits you, and how to use it.</p>

    <h2>What is the CRM System?</h2>
    <p>The <strong>CRM System</strong> is designed to help businesses and teams manage their customer relationships, track events, and organize communication in one place.</p>

    <p>With our CRM, you can:</p>
    <ul>
        <li>Manage users and roles</li>
        <li>Track customer data and purchase history</li>
        <li>Schedule and manage events</li>
        <li>View sales analytics and insights</li>
        <li>Organize internal discussions and threads</li>
    </ul>

    <h2>How to use it</h2>
    <p>Follow these steps to get started with the CRM:</p>

    <h3>1. Logging in</h3>
    <p>Enter your credentials on the login page. If you don't have an account, contact an administrator. Alternatively, you can log in as a guest to explore the system.</p>

    <h3>2. Managing Users</h3>
    <p>Go to the <strong>Users</strong> section to add, edit, or delete users. Assign roles and permissions to control access. View the number of sales each user has recorded directly in their profile.</p>

    <h3>3. Managing Customers</h3>
    <p>Navigate to the <strong>Customers</strong> tab to view detailed customer profiles, contact information, and complete purchase history. Each customer profile allows you to track individual spending habits and manage interactions effectively.</p> 

    <h3>5. Creating Events</h3>
    <p>Use the <strong>Calendar</strong> section to schedule meetings, webinars, or other business-related events.</p>

   
    <h3>6. Discussion Threads</h3>
    <p>Use the <strong>InfoDesk</strong> feature to communicate with team members, share announcements and resolve customer inquiries.</p>

   
<h3>7. Stay Organized with Your To-Do List</h3>
    <p>Use the <strong>To-Do List</strong> to stay organized, prioritize tasks, and track your progress efficiently.</p>

    <h3>I hope this guide helps you navigate the CRM system with ease. If you have any questions, feel free to reach out. Enjoy using your CRM!"</h3>

</div>


