.inputfield {
    margin-right: 16px;
}
.inputfield-container {
  
}


.label {
    height: 30px;
}

.full-width {
    width: 100%;
}





  mat-dialog-content {
    overflow: visible; /* Macht abgeschnittenen Inhalt sichtbar */
  }

  