<div class="world-clock">
    <button class="nav-arrow" (click)="previousZone()">&#8592;</button> <!-- Pfeil nach links -->
    
    <div class="time-zone">
      <h3>{{ currentZoneName }}</h3>
      <p>{{ currentTime }}</p>
    </div>
    
    <button class="nav-arrow" (click)="nextZone()">&#8594;</button> <!-- Pfeil nach rechts -->
  </div>
  
  <div class="indicator">
    <span
      *ngFor="let zone of timeZones; let i = index"
      [class.active]="i === currentIndex"
      class="dot"
    ></span>
  </div>
  