

<div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="!isLoading" class="login-container">



    <div class="logo-container">
        <img src="/assets/img/crm_logo.png" alt="">
    </div>
    




    <mat-card class="login-card">
      <mat-card-title class="title">Login</mat-card-title>
      <mat-card-content>
        <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm">
          <!-- Email Input -->
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="email" name="email" required />
            <button mat-icon-button matSuffix type="button" aria-hidden="true">
              <mat-icon>email</mat-icon>
            </button>
          </mat-form-field>
  
          <!-- Password Input -->
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required />
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Show password'" [attr.aria-pressed]="!hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>
          
          
  
          <!-- Error Message -->
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
  
          <!-- Submit Button -->
          <button mat-raised-button color="primary" class="login-button" [disabled]="!loginForm.valid">
            Login
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <div class="privacy-container">
        <p>Privacy Policy</p>
        <p>Legal Notice</p>
    </div>



  </div>
  