.login-container {
  padding-left: 20px;
  padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0f0f0f;
  }
  
  .login-card {
     background-color: #161616;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
   display: flex;
   justify-content: space-between;
   padding: 30px;
    width: 900px;
    height: 500px;
   
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
    will-change: transform, opacity;
    
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start völlig transparent */
    }
    50% {
      opacity: 0.5; /* Halbtransparent in der Mitte */
    }
    100% {
      opacity: 1; /* Vollständig sichtbar */
    }
  }


  .login-side {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #0f0f0f;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .left-show {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 100%;
  background-color: #0f0f0f;
 }
  
 .form {
  width: 100%;
  padding: 20px;
}


  .error-message {
    color: red;
  position: absolute;
  bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    color: white;
    margin-bottom: 50px;
    text-align: center;
  
   font-size: 36px;
  }


  .full-width {
    position: relative; /* Stellt sicher, dass das Icon sich relativ zur Box positioniert */
    width: 100%;
}

.inputer {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #161616;
    border: none;
    border-radius: 10px;
    padding: 10px 40px 10px 15px; /* Platz für das Icon auf der rechten Seite */
    color: white;
    margin-bottom: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* Container für das Icon */
.input-icon {
    position: absolute;
    top: 12px;
    right: 10px; /* Abstand vom rechten Rand */
   
    color: white;
    cursor: pointer;
}

/* Style für den Button, um ihn als reines Icon zu nutzen */
.input-icon button {
  color: white;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.disabled-button {
  opacity: 0.5; /* Button wird halbtransparent */
  pointer-events: none; /* Verhindert Klicks */
  cursor: not-allowed; /* Zeigt "nicht erlaubt"-Cursor */
}


  

  .login-button {
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .login-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .guest-login-button {
  
    width: 170px;
    background-color: transparent;
    border: none;
    color: rgb(72, 72, 72);
    transition: all 0.3s ease-in-out;

    &:hover {

      background-color: rgba(255, 255, 255, 0.1);
      color: white;

    }
  }

  .links-privacy {
    font-size: 16px;
   
    text-align: center;
    color: rgb(184, 183, 183);
    transition: filter 0.3s ease;

    &:hover {
      cursor: pointer;
        color: white;
        filter: brightness(1.3);
      }
 }
  

  .loading-spinner {
    position: fixed; /* Fixiert den Spinner relativ zum gesamten Fenster */
    top: 50%; /* Zentriert vertikal */
    left: 50%; /* Zentriert horizontal */
    transform: translate(-50%, -50%); /* Verschiebt den Spinner, um ihn genau in die Mitte zu setzen */
    display: flex; /* Flexbox zum Zentrieren des Inhalts */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    z-index: 1000; /* Stellt sicher, dass der Spinner über allem anderen liegt */
    background-color: rgba(0, 0, 0, 0.9); /* Optional: Hintergrundüberlagerung */
    width: 100vw; /* Bedeckt die gesamte Breite */
    height: 100vh; /* Bedeckt die gesamte Höhe */
  }
  
 /* Stellt sicher, dass die login-container den gesamten Bildschirm einnimmt */

  
  /* Styling für die Logo-Container */
  .logo-container {
   
   position: absolute;
   top: 30px;
   
    animation: logoAnimation 1.5s ease-out forwards;
  }
  
  /* Größe des Logos anpassen */
  .logo-container img {
    width: 400px;
    filter: invert(100%) brightness(100%); /* Passe die Größe nach Bedarf an */
  }
  
  /* Definition der Animation */
  @keyframes logoAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50px) scale(0.8); /* Startposition oberhalb und verkleinert */
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1); /* Endposition in der Mitte und normale Größe */
    }
  }


  .privacy-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 250px;

   
  }

  

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
height: 600px !important;
    background-color: rgba(25, 25, 25, 1.0) !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    border-radius: 10px !important;
}


@media (max-width: 920px){ 
.login-card {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 900px;
}

.login-side {
  width: 400px;
  height: 400px;
}

.left-show {

  width: 400px;
  height: 400px;
}

.logo-container {
   
  position: absolute;
  top: 10px; 
 
}

.logo-container img {
  width: 350px;
}
}
  

@media (max-width: 530px){ 
.login-card {
  width: 100%;
}
 }


 @media (max-width: 500px){  
.guest-login-button {
  width: 100%;
  white-space: nowrap;
}

.login-button {
  width: 100px;
  margin-right: 20px;
  white-space: nowrap;

}
 }

 @media (max-width: 480px){ 
  .login-side {
    width: 300px;
   
  }
  
  .left-show {
  
    width: 300px;
   
  }

  
  
  }


 @media (max-width: 380px){ 
  .login-card {
    height: 880px;
  padding: 20px;
  }

  .form {
    padding: 10px;
  }

  .logo-container img {
    width: 300px;
  }

  .login-side {
    width: 280px;
   
  }
  
  .left-show {
  
    width: 280px;
   
  }
  }

  @media (max-width: 355px){ 
    .login-side {
      width: 250px;
     
    }
    
    .left-show {
    
      width: 250px;
     
    }
  }


  

  @media (max-height: 980px) {
    .privacy-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 250px;
  
     
    }
  }

  @media (max-height: 890px) { 
    .logo-container {
   
      position: absolute;
      top: 10px; 
     
    }
    
    .logo-container img {
      width: 250px;
    }
  }


  @media (max-width: 920px) and (max-height: 1250px) {
    .privacy-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 250px;
  
     
    }

    .logo-container img {
      width: 150px;
    }
  }

  @media (max-height: 760px) { 
    .logo-container {
      display: none;
    }
  }



  @media (max-width: 920px) and (max-height: 1100px) { 
.left-show {
  height: 200px;
}

.login-card {
  height: 680px;
padding: 20px;
}
  }


  @media (max-width: 920px) and (max-height: 860px) { 
    .login-card{
height: 570px;

    }

.login-side {

  height: 300px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}
  }