

.user-detail-component {
width: 1920px;
  padding: 46px;
  font-family: "DM Sans", serif;
  background-color: #0f0f0f;
  /* Animation anwenden */
  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
  
}


@keyframes fadeIn {
  0% {
    opacity: 0; /* Start völlig transparent */
  }
  50% {
    opacity: 0.5; /* Halbtransparent in der Mitte */
  }
  100% {
    opacity: 1; /* Vollständig sichtbar */
  }
}

 
 .user-detail-header {
  min-height: 430px !important;
    background-color: rgba(39, 39, 39, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
 
   padding: 16px;

  
}

.mat-cards-wrapper {
  display: flex;
  width: 100%;
}

.mat-cards-wrapper-left {
margin-right: 30px;
width: 100%;
}

.mat-mdc-card {
  background-color: rgba(39, 39, 39, 0.2) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9) !important;
  border-radius: 20px !important; 
  
  

}

.user-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
}

.left-section {
  
 display: flex;
 align-items: center;
}

.middle-section {
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.user-details-under {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-top {
  display: flex;
}

.user-bottom {
  display: flex;
}


.mdc-card {
    display: flex !important;
    flex-direction: column !important;

    align-items: flex-start ;
    box-sizing: border-box;
    padding: 35px;
   
}

h1 {
  color: white;
 margin-bottom: 0 !important;
 
}

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.line {
  width: 6px;
  height: 30px; /* Höhe des Strichs */
  background-color: #4250A9; /* Grün */
  border-radius: 4px; /* Optional: Abgerundete Ecken */
  margin-right: 15px; /* Abstand zum Text */
}

.heading {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; /* Textfarbe */
}


.birthdate {
  height: 50px !important;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
}


.email-link {
  height: 50px !important;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    color:#4250A9 ;
  }
}

.role-container {
 
  
   
   padding: 16px;
  border-radius: 20px;
  height: 105px;
  margin-right: 70px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.thin-role {
 color: #bababa;
 font-size: 16px;
 
}


.user-role {
   height: 50px !important;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   gap: 10px;
 
}

.user-role {
    color: white;
}


.name {
  color: white;
  padding-left: 16px;
}

.white-icon {
    color: white; 
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;/* Setzt die Farbe der Punkte auf Weiß */
    width: 100%;
  }
  

.edit-container {
    position: absolute;
    top: 20px;
    right: 20px;

}


  .custom-edit-icon {
   
   
    border-radius: 50%; /* Rundes Icon */
    padding: 8px; /* Abstand zum Icon */
   
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .custom-edit-icon mat-icon {
    color: #3f51b5; /* Farbe des Icons (ähnlich blau wie Material-Design) */
  }
  
  .custom-edit-icon:hover {
    transform: scale(1.1); /* Vergrößerung beim Hovern */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Stärkerer Schatten beim Hovern */
  }
  





.default-picture {
    max-height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100px;
  }


  .image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Macht den Wrapper zu einem Kreis */
    overflow: hidden; /* Schneidet das Bild auf den Kreis zu */
    background-color: #f0f0f0; /* Hintergrundfarbe */
}


.uploaded-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; /* Verschiebt den Fokus nach oben */
}





  


.user-details {
    margin-left: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;



}


.mat-mdc-card-title {
    color: white;
}



  
  .under-tr:hover {
    transform: translateY(-5px) scale(1.02); /* Leicht nach oben und größer */
    box-shadow: rgba(0, 0, 0, 0.6) 0px 35px 30px -20px; /* Intensiverer Schatten beim Hover */
  }


.user-detail-address {
    margin-top: 32px;
    background-color: rgba(39, 39, 39, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    

    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start;



   
}

.role-container-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}


.mat-mdc-card-title {
    margin-bottom: 20px !important;
}


.edit-icon {
   
    color: white;
}




.add-picture-button {
    height: 35px !important;
    width: 35px !important;
    position: absolute !important;
    bottom: 0;
    right: 10px;
}



.profile-picture-container {
    position: relative !important;
}






.icon {
    margin-bottom: 10px;
    font-size: 34px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
    color: currentColor;
  }
  
  .admin-icon {
    color: #3f51b5; /* Blau für Admin */
    filter: drop-shadow(0 0 8px #3f51b5);
    overflow: visible;
  }
  
  .employee-icon {
    color: #ff9800; /* Orange für Employee */
    filter: drop-shadow(0 0 8px #ff9800);
  
        overflow: visible;
       
  }
  
  .guest-icon {
    color: #4caf50; /* Grün für Gäste */
    filter: drop-shadow(0 0 8px #4caf50);
    overflow: visible;
  }
  
  .default-icon {
    color: #9e9e9e; /* Grau für unbekannte Rollen */
    filter: drop-shadow(0 0 8px #9e9e9e);
    overflow: visible;
  }

  .back-button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
  
    .large-icon {
        overflow: visible;
      font-size: 30px; /* Standardgröße */
      transition: transform 0.3s ease; /* Animierter Übergang */
    }
  
    button:hover .large-icon {
      transform: scale(1.5); /* Vergrößert das Icon beim Hover */
    }
  }


  .user-events {
    display: flex;
     flex-direction: column;
align-items: center;
   height: 810px;
    width: 700px;
    overflow-y: auto;
  
    .event-item {
      background-color: rgba(39, 39, 39, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

      width: 300px;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -1px;
  
      h3 {
        font-size: 20px;
        margin: 0;
        color: #ffffff;
      }
  
      p {
        font-size: 18px;
        margin: 5px 0;
        color: #cccccc;
        white-space: normal; /* Standard-Zeilenumbruch aktivieren */
        word-break: break-word; /* Lange Wörter umbrechen */
        overflow-wrap: break-word; /* Alternative für alte Browser */
      }
     
    }
  
    .no-events {
      text-align: center;
      color: #999999;
      p {
        font-size: 18px;
      }
    }
  }

  .events-wrapper-user {
    display: flex;
    flex-direction: column;
align-items: center;
  }



  .snackbar {
    position: fixed;
    bottom: 25%; /* Im unteren Viertel des Bildschirms */
    left: 50%; /* Zentriert horizontal */
    transform: translateX(-50%) translateY(100%); /* Genau mittig ausrichten */
    background-color: #33408f; /* Snackbar-Hintergrundfarbe */
    color: white; /* Textfarbe */
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden; /* Unsichtbar, solange nicht aktiviert */
    z-index: 1000;
  }
  
  .snackbar.show {
    opacity: 1;
    visibility: visible; /* Zeige die Snackbar an */
    transform: translateX(-50%) translateY(0); /* Slidet nach oben rein */
  }
  

  