
<div class="edit-dialog-container">

  <h2 mat-dialog-title>Edit Event</h2>
  
  <!-- Benutzer-Auswahl -->
  <div>
    
    <mat-selection-list 
    (selectionChange)="onSelectionChange($event)" 
    [multiple]="true">
    <mat-list-option
      *ngFor="let user of users"
      [value]="user"
      [selected]="isUserSelected(user)"
    >
      {{ user.firstName }} {{ user.lastName }}
    </mat-list-option>
  </mat-selection-list>
  
    
    
    
  </div>
  
  
  
  <div class="details-section">
  <!-- Event-Daten bearbeiten -->
  <form  class="details-section" [formGroup]="editForm">
    <mat-dialog-content  class="details-section">
      <mat-form-field >
        <mat-label>Event Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of eventTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field >
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      
  
      <mat-form-field >
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field >
        <mat-label>Time</mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let time of usTimeOptions" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-dialog-content>
    
  
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button color="primary" (click)="saveChanges()">
        Save
      </button>
    </mat-dialog-actions>
  </form>
  
  </div>
  
  </div>


 