
<div class="user-component">

<div class="header-top">

  <h1> Users </h1>

<div class="search-container">
 
  <input
    id="search-input"
    type="text"
    class="search-input"
    [(ngModel)]="searchQuery"
    placeholder="Search users by name"
    (input)="filterUsers()"
  />
</div>



</div>

<mat-card>
  <!-- Benutzer-Tabelle -->
  <table class="user-table">
    <thead> <!-- Kopfzeile umschlossen von thead -->
      <tr class="header-row">
        <th>Role</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody> 
      <!-- Datenzeilen in tbody -->
      <tr class="under-tr" *ngFor="let user of filteredUsers">

        <td [routerLink]="['/user', user.uid]" class="icon-container">
          <!-- Abhängig von der Rolle ein Icon anzeigen -->
          <mat-icon *ngIf="user.role === 'Admin'" class="icon admin-icon">admin_panel_settings</mat-icon>
          <mat-icon *ngIf="user.role === 'Employee'" class="icon employee-icon">work</mat-icon>
          <mat-icon *ngIf="user.role === 'Guest'" class="icon guest-icon">person_outline</mat-icon>
          <mat-icon *ngIf="!user.role" class="icon default-icon">help_outline</mat-icon>
        </td>
        

        <td [routerLink]="['/user', user.uid]">{{ user.firstName }} {{ user.lastName }}</td>
        <td [routerLink]="['/user', user.uid]">{{ user.email }}</td>
        <td [routerLink]="['/user', user.uid]">{{ user.city }}</td>
        <td>


          <button mat-icon-button color="warn" (click)="openDeleteDialog(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>


<!-- Hinzufügen-Button -->
<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>

</div>
