.user-component {
    padding: 46px;
    background-color: #0f0f0f;
}

.add-user-button {
  position: absolute;
  right: 56px;
  bottom: 56px;
}



.mat-mdc-card {
    background-color: transparent !important;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

}

h1 {
    color: white;
    margin: 0;
}


.user-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: #272727; /* Kopfzeilenfarbe */
  color: white;
  padding: 20px; /* Innenabstand */
  font-size: 20px;
  border-radius: 20px 20px 0 0; /* Abgerundete obere Ecken */
  margin-bottom: 10px;
}

.under-tr {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: rgba(39, 39, 39, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin-bottom: 20px; /* Abstand zwischen Zeilen */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Weiche Übergänge */
}

.under-tr:hover {
  transform: translateY(-5px) scale(1.02); /* Leicht nach oben und größer */
  box-shadow: rgba(0, 0, 0, 0.6) 0px 35px 30px -20px; /* Intensiverer Schatten beim Hover */
}



.user-stats {
color: #9e9e9e;
font-size: 20px;
}



.search-container {
  display: flex;
  flex-direction: row;
 

  width: 100%; /* Passe die Breite nach Bedarf an */
  max-width: 300px;
 
}

.search-label {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4c5ab3; /* Label-Farbe */
}

.search-input {
  width: 100%;
  padding: 8px 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: white;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #4c5ab3; /* Farbe für den Fokuszustand */
}

.mat-mdc-card {
  width: 100%;
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: transparent;
  border-width: 0;
  border-style: solid;
  border-color: white !important;
  box-shadow: white !important;
}
.icon-container {
  display: flex;
align-items: flex-start;
 
}
.icon {
    font-size: 34px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
    color: currentColor;
  }
  
  .admin-icon {
    color: #3f51b5; /* Blau für Admin */
    filter: drop-shadow(0 0 8px #3f51b5);
    overflow: visible;
  }
  
  .employee-icon {
    color: #ff9800; /* Orange für Employee */
    filter: drop-shadow(0 0 8px #ff9800);
  
        overflow: visible;
       
  }
  
  .guest-icon {
    color: #4caf50; /* Grün für Gäste */
    filter: drop-shadow(0 0 8px #4caf50);
    overflow: visible;
  }
  
  .default-icon {
    color: #9e9e9e; /* Grau für unbekannte Rollen */
    filter: drop-shadow(0 0 8px #9e9e9e);
    overflow: visible;
  }
  