
<div class="search-container">
  <label for="search-input" class="search-label">Search Users</label>
  <input
    id="search-input"
    type="text"
    class="search-input"
    [(ngModel)]="searchQuery"
    placeholder="Search by name"
    (input)="filterUsers()"
  />
</div>





<mat-card appearance="outlined">

  <!-- Suchfeld -->
 

  <!-- Benutzer-Tabelle -->
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of filteredUsers">
      <td [routerLink]="['/user', user.uid]">{{ user.firstName }} {{ user.lastName }}</td>
      <td [routerLink]="['/user', user.uid]">{{ user.email }}</td>
      <td [routerLink]="['/user', user.uid]">{{ user.city }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="openDeleteDialog(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>

<!-- Hinzufügen-Button -->
<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user" matTooltipPosition="above">
  <mat-icon>add</mat-icon>
</button>
