.user-component {
    padding: 46px;
    background-color: #0f0f0f;
    animation: fadeIn 0.5s ease-out;
    animation-fill-mode: forwards;
    will-change: transform, opacity;
    
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start völlig transparent */
    }
    50% {
      opacity: 0.5; /* Halbtransparent in der Mitte */
    }
    100% {
      opacity: 1; /* Vollständig sichtbar */
    }
  }

  .add-customer-button {
   
  }
  
  .button-margin {
   display: flex;
   align-items: center;
  }


.mat-mdc-card {
    background-color: transparent !important;
}

.header-top {
    display: flex;
    justify-content: space-between;
   
    width: 100%;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;

}

h1 {
  font-family: "DM Sans", serif;
    color: white;
    font-size: 36px;
    margin-right: 20px;
    margin-bottom: 0;
}


.user-list {
  padding: 20px;
  border-radius: 20px;
  background-color: #101010;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-row {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 0.3fr; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: #161616;
  border-bottom: 1px solid #343434;/* Kopfzeilenfarbe */
  color: white;
  padding: 20px; /* Innenabstand */
  font-size: 20px;
  border-radius: 20px 20px 0 0; /* Abgerundete obere Ecken */
  margin-bottom: 20px;
}

.under-tr {
  display: grid;
  grid-template-columns:  1fr  1fr 1fr  0.3fr ; /* Passe die Spaltenbreite an */
  align-items: center;
  background-color: #161616;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin-bottom: 20px; /* Abstand zwischen Zeilen */
  border-radius: 10px; /* Abgerundete Ecken */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Weiche Übergänge */
}

.under-tr:hover {
  transform: translateY(-5px) scale(1.02); /* Leicht nach oben und größer */
  box-shadow: rgba(0, 0, 0, 0.6) 0px 35px 30px -20px; /* Intensiverer Schatten beim Hover */
}



.user-stats {
  display: flex;
  align-items: center;
color: #d2d2d2;
font-size: 20px;
}

.user-pic {
  width: 100%;
  display: flex;
  align-items: center;
}

.image-wrapper-user {
  height: 50px;
  width: 50px;
  border-radius: 50%; /* Macht den Wrapper zu einem Kreis */
  overflow: hidden; /* Schneidet das Bild auf den Kreis zu */
  background-color: #f0f0f0; /* Hintergrundfarbe */
  margin-right: 10px;
}


  .profile-picture-user {
     margin-right: 20px;
      width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
    }





    .search-container {
      display: flex;
      flex-direction: column;
      width: 100%; /* Passe die Breite nach Bedarf an */
      max-width: 300px;
      margin-bottom: 10px;
     
    }
    
    .search-label {
      font-size: 24px;
      margin-bottom: 10px;
      color: #4c5ab3; /* Label-Farbe */
    }
    
    .search-input {
      width: 100%;
      padding: 8px 10px;
      font-size: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      background-color: transparent;
      color: white;
      transition: border-color 0.3s ease;
    }
    
    .search-input:focus {
      border-color: #4c5ab3; /* Farbe für den Fokuszustand */
    }

.mat-mdc-card {
  width: 100%;
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: transparent;
  border-width: 0;
  border-style: solid;
  border-color: white !important;
  box-shadow: white !important;
}
.icon-container {
  margin-left: 20px;
  display: flex;
align-items: flex-start;
 
}
.icon {
  font-size: 30px; /* Schriftgröße des Icons */
  color: white;
  display: inline-flex;
  align-items: center; /* Zentrierung des Inhalts */
  justify-content: center; /* Zentrierung des Inhalts */
 margin-left: 20px;
   
    color: currentColor;
  }
  
  .admin-icon {
    color: #3f51b5; /* Blau für Admin */
   
    overflow: visible;
  }
  
  .employee-icon {
    color: #717171; /* Orange für Employee */
    font-size: 28px;
  
        overflow: visible;
       
  }
  
  .guest-icon {
    color: #4caf50; /* Grün für Gäste */
   
    overflow: visible;
  }
  
  .default-icon {
    color: #9e9e9e; /* Grau für unbekannte Rollen */
   
    overflow: visible;
  }

 