.thread-container {
    padding: 20px;

    h3 {
        color: white;

    }

    p {
        color: white;
    }

    small {
        color: white;
    }
  }
  
  .create-thread {
    margin-bottom: 20px;
  }
  
  .thread-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .thread-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thread-item:hover {
   
  }
  

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }