.thread-container {
    padding: 20px;

    h3 {
        color: white;

    }

    p {
        color: white;
    }

    small {
        color: white;
    }
  }
  
  .create-thread {
    width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
    }
  }
  
  .thread-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .thread-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .thread-item:hover {
   
  }
  

  h1 {
    color: white;
  }

  h2 {
    color: white;
  }


  .comments-icon {
    color: white;

  }


  .thread-header {
display: flex;
justify-content: space-between;




small {
    font-size: 20px;
}


    .profile-picture {
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }
  }


  .thread-meta {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }


  .image-preview {
    height: 200px;
    width: 200px;

    img {
        height: 200px;
        width: 200px;
    }
  }

  .uploaded-image {
    height: 200px;
    width: 200px;
  }
  