<div class="dashboard-component">
  <div class="dashboard">
    <!-- KPI Cards -->

    <div class="left-wrapper">
      <div class="quick-actions-container">
        <button (click)="goToUserAndOpenDialog()">
          <mat-icon>person_add</mat-icon>
          Add New User
        </button>

        <button (click)="goToCustomerAndOpenDialog()">
          <mat-icon>group_add</mat-icon>
          Add New Customer
        </button>

        <button (click)="goToEventAndOpenDialog()">
          <mat-icon>event</mat-icon>
          Add New Event
        </button>
      </div>




      <div class="middle-wrapper">



        <div class="left-section-wrapper">

        <div class="chart-wrapper"> 
          <h1 class="chart-h1">Task Distribution by Priority</h1>
        <div class="chart-container">
          <ngx-charts-bar-vertical
          [results]="chartData"
          [view]="[500, 250]" 
          [scheme]="customColorScheme"
          [gradient]="true"
          [animations]="true"
          [barPadding]="30"
          [xAxis]="true"
          
          
        >
        </ngx-charts-bar-vertical>
        
        
        </div>
      </div>




<div class="timer-section">
  <app-timer></app-timer>
</div>
     

</div>









        <div class="events-container">
          <div class="kpi-cards">
            <div class="kpi-card">
              <h3>Total Events</h3>
              <p>{{ totalEvents }}</p>
            </div>
            <div class="kpi-card">
              <h3>Events Today</h3>
              <p>{{ eventsToday }}</p>
            </div>
            <div class="kpi-card">
              <h3>Events This Week</h3>
              <p>{{ eventsThisWeek }}</p>
            </div>
          </div>

          <div class="upcoming-events">
            <h1>Upcoming Events</h1>

            <!-- Wenn keine Events vorhanden sind -->
            <div
              *ngIf="!upcomingEvents || upcomingEvents.length === 0"
              class="no-events-div"
            >
              <p class="no-events-placeholder">No upcoming events</p>
            </div>

            <!-- Wenn Events vorhanden sind -->
            <div
              *ngIf="upcomingEvents && upcomingEvents.length > 0"
              class="events-wrapper"
            >
              <li
                *ngFor="let event of upcomingEvents; let i = index"
                (click)="openEventDetails(event)"
                [ngClass]="getEventClass(event.type)"
                             >
                <div class="event-item">
                  <h4>{{ event.type }}</h4>
                  <mat-icon>event</mat-icon>
                </div>
                <div class="date-div">
                  <p>{{ event.date | date : "MMMM d, y" }}</p>
                </div>
                <div>
                  <p>{{ event.time }}</p>
                </div>
              </li>

              
            </div>

            <div class="button-div">
              <button class="go-calendar" routerLink="/calendar-angular">
                Go to Calendar
              </button>
            </div>
          </div>
        </div>
      




    
      

    </div>

    </div>



























    <div class="right-section-noti">
      <div class="threads-container">
        <h1>Latest Announcements</h1>

        <div class="threads">
          <div
            class="singel-threads"
            *ngFor="let thread of threads.slice(0, 3)"
          >
            <div class="thread-header">
              <div class="user">
                <div class="image-wrapper">
                  <img
                    [src]="thread.profilePicture || '/assets/img/user.png'"
                    class="profile-picture"
                    alt="Profile Picture"
                  />
                </div>
                <span>{{ thread.createdBy }}</span>
              </div>

              <small>{{ thread.createdAt | date : "MMM d, y" }}</small>
            </div>
            <p>{{ thread.description | slice : 0 : 30 }}...</p>
          </div>
        </div>

        <button class="go-class" routerLink="/threads">View All</button>
      </div>

      <div class="logs-section-wrapper">
        <div class="logs-section">
          <h1>Recent Activity Logs</h1>
          <ul>
            <li
              class="list-elements"
              *ngFor="let log of logs"
              [ngClass]="
                'entity-' + (log.entityType?.toLowerCase() || 'unknown')
              "
            >
              <div class="log-message">
                <strong>{{ log.details?.message }}</strong> <!-- Direkt gespeicherte Nachricht verwenden -->
              </div>
            </li>
          </ul>
          <button
            *ngIf="logs.length > 0"
            class="go-class"
            (click)="navigateToAllLogs()"
          >
            View All Logs
          </button>
        </div>
      </div>
      

      <!-- Upcoming Events -->
    </div>
  </div>
</div>
