.dashboard {
  display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}


  .todos-section {
    
    width: 500px;
    height: 600px;
    background-color: #313132;
    border-radius: 30px;
  
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-width: thin; /* Für Firefox: Dünne Scrollbar */
    scrollbar-color: #4f9dff #313132; 

    transform: scale(0.9); /* Start leicht kleiner */
    opacity: 0;
    animation: smoothFadeIn 0.8s ease-out forwards; /* Sanfter Übergang */
    will-change: transform, opacity; /* Optimierung */

    .todo-header {
    width: 100%;

    h3 {
      color: white;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    }

    .todo-input {
      width: 100%;
      background-color: #313132;
      font-size: 24px;
      border: 1px solid white;
      border-radius: 20px;
      height: 50px;
      padding-left: 10px;
      color: white;
    }

    .todo-form {
      display: flex;
      width: 100%;
      margin-bottom: 30px;
      
    }
  }


  .todo-input-section {
    display: flex;
    align-items: center;
  }

  .add-button {
    height: 50px;
    width: 50px;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }


  .add-todo-btn {
    padding: 0;
    margin-left: 10px;
  }


  .todo-list {
    width: 100%;
    padding: 0;
    
  
    li {
      list-style: none;
      position: relative; /* Für Pseudo-Elemente */
      border: 1px solid red; /* Standardrahmen in Rot */
      
      font-size: 16px;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden; /* Beschränkung des Effekts */
      background-color: #313132; /* Hintergrundfarbe der Aufgabe */
      transition: border-color 0.3s ease; /* Fallback für Übergänge */
    }

    label {
      color: white;
      font-size: 18px;
      text-align: center;
    }
  
    li.completed {
      animation: borderFill 1s forwards ease-in-out; /* Animation bei Abschluss */
    }
  
    /* Keyframes für die Border-Füllanimation */
    @keyframes borderFill {
      0% {
        border-image-source: linear-gradient(to right, red, red);
        border-image-slice: 1; /* Aktiviert den Gradient als Border */
      }
      100% {
        border-image-source: linear-gradient(to right,  #cfff5e, #cfff5e, #cfff5e);
        border-image-slice: 1; /* Beibehaltung der Füllung */
      }
    }
  
    .custom-checkbox {
      width: 25px; /* Größe der Checkbox */
      height: 25px;
      appearance: none; /* Entfernt das standardmäßige Browser-Styling */
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-right: 20px;
      border: 2px solid #ffffff; /* Standardfarbe */
      border-radius: 4px; /* Abgerundete Ecken */
      background-color: transparent; /* Transparenter Hintergrund */
      cursor: pointer;
      transition: all 0.3s ease;
      vertical-align: middle; 
    }
  
    .custom-checkbox:checked {
      border-color: #cfff5e; /* Farbe der Checkbox bei Auswahl */
    }
  }
  
  
 
  
  .custom-checkbox:checked::after {
    content: '✔'; /* Haken-Symbol */
    display: block;
    font-size: 18px;
    color: white; /* Farbe des Haken-Symbols */
    text-align: center;
    line-height: 25px; /* Vertikale Zentrierung des Haken-Symbols */
  }
  
  
  

  .delete-btn {
    background-color: transparent;
    border: none;
    color: white;
  }


  .todo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin; /* Für Firefox */
    scrollbar-color: rgb(83, 82, 82) transparent; /* Für Firefox */
  }
  
  /* Für WebKit-basierte Browser */
  .todo-wrapper::-webkit-scrollbar {
    width: 8px; /* Breite der Scrollbar */
  }
  
  .todo-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(47, 47, 47); /* Farbe des Scrollbalkens */
    border-radius: 10px; /* Runde Ecken */
  }
  
  .todo-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgb(47, 46, 46); /* Hover-Farbe für den Scrollbalken */
  }
  
  .todo-wrapper::-webkit-scrollbar-track {
    background-color: transparent; /* Farbe des Scroll-Tracks */
  }
  

.progress-div {
  p {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 18px;
  }
}



  .events-container {
    width: 500px;
    height: 600px;
    background-color: #313132;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Smooth Fade-In Animation */
    transform: scale(0.9); /* Start leicht kleiner */
    opacity: 0;
    animation: smoothFadeIn 0.8s ease-out forwards; /* Sanfter Übergang */
    will-change: transform, opacity; /* Optimierung */
  }

  /* Keyframes für den smoothen Fade-In-Effekt */
  @keyframes smoothFadeIn {
    0% {
      transform: scale(0.9); /* Start leicht kleiner */
      opacity: 0; /* Unsichtbar */
    }
    50% {
      transform: scale(1); /* In Position */
      opacity: 0.5; /* Halb sichtbar */
    }
    100% {
      transform: scale(1); /* Endzustand */
      opacity: 1; /* Voll sichtbar */
    }
  }

  /* KPI Cards */
  .kpi-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .kpi-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      padding: 15px;

      background-color: rgba(255, 255, 255, 0.06);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);

      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5); /* Gleichmäßiger Schatten */
      box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5);

      h3 {
        margin: 0 0 10px;
        color: #ffffff;
      }

      p {
        font-size: 24px;
        color: #ffffff;
      }
    }
  }

  .go-calendar {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5); /* Gleichmäßiger Schatten */
    box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5);

    color: white;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Weiche Animation */
  }

  .go-calendar:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8); /* Größerer & heller Schatten */
    box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8);
    transform: translateY(-3px); /* Leichtes Anheben */
  }

  .event-item {
    display: flex;
    justify-content: space-between;
    .mat-icon {
      color: #313132;
    }
  }

  /* Upcoming Events */
  .upcoming-events {
    width: 500px;
    margin-top: 20px;

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      color: #ffffff;
      font-weight: 700;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      padding: 0;
      flex-wrap: wrap;

      li {
        cursor: pointer;
        margin-bottom: 15px;
        margin-right: 10px;
        border-radius: 5px;

        padding: 5px;

        p {
          color: #313132;
        }

        h4 {
          color: #313132;
        }
      }
    }
  }

  .date-div {
    display: flex;
  }

  .event-webinar,
  .event-meeting,
  .event-workshop,
  .event-other {
    position: relative;
    background-color: #ffffff; /* Standardfarbe für alle Karten */
    border-radius: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1); /* Standardgröße */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Leichter Schatten */

    &:hover {
      transform: scale(1.05); /* Vergrößerung beim Hover */
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Größerer Schatten beim Hover */
    }
  }

  .event-webinar {
    background-color: #cfff5e; /* Helles Grün */
  }

  .event-meeting {
    background-color: #ffffff; /* Rot */
  }

  .event-workshop {
    background-color: #6dc7c4; /* Pastell-Türkis */
  }

  .event-other {
    background-color: #7d7dff; /* Violett */
  }

  /* Logs Section */
  .logs-section {
    width: 500px;
    height: 600px;
    background-color: #313132;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.9); /* Start leicht kleiner */
    opacity: 0;
    animation: smoothFadeIn 0.8s ease-out forwards; /* Sanfter Übergang */
    will-change: transform, opacity; /* Optimierung */

    > h3 {
      color: #ffffff;
      font-weight: 700;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;

        height: 60px;

        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5); /* Gleichmäßiger Schatten */
        box-shadow: 0px 0px 12px rgba(139, 139, 139, 0.5);

        strong {
          color: white;
          font-weight: 400;
        }

        small {
          color: white;
        }

        &.entity-user {
          border-left: 10px solid #adb2cd; /* Weiches Indigo */
          box-shadow: -8px 0 8px -2px rgba(173, 178, 205, 0.5);
        }

        &.entity-customer {
          border-left: 10px solid #b2cfb3;
          box-shadow: -8px 0 8px -2px rgba(178, 207, 179, 0.5); /* Helles Pastellgrün */
        }

        &.entity-event {
          border-left: 10px solid #e7c38e;
          box-shadow: -8px 0 8px -2px rgba(231, 195, 142, 0.5); /* Weiches Pastellorange */
        }

        &.entity-unknown {
          border-left: 10px solid #e0e0e0;
          box-shadow: -8px 0 8px -2px rgba(224, 224, 224, 0.5); /* Helles Grau */
        }
      }

      .log-message {
        display: flex;
        align-items: center;
      }

      .buttons-comtainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        a {
          color: #4f9dff; /* Helles Blau */

          white-space: nowrap;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

 
 



