.dashboard-component {
  max-width: 1920px;
  display: flex;
  padding: 46px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f;

  animation: fadeIn 0.5s ease-out;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start völlig transparent */
  }
  50% {
    opacity: 0.5; /* Halbtransparent in der Mitte */
  }
  100% {
    opacity: 1; /* Vollständig sichtbar */
  }
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
}

.d-nonen {
  display: block;
  margin-bottom: 0px !important;
}

.right-section-noti {
  margin-left: 10px;
  width: 350px;
  height: 930px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161616;
}

.middle-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-wrapper {
  width: 1400px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.threads-container {
  width: 350px;
  height: 600px;
  background-color: transparent;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: smoothFadeIn 0.8s ease-out forwards; /* Sanfter Übergang */
  will-change: transform, opacity; /* Optimierung */
  border-bottom: 1px solid rgba(95, 93, 93, 0.4);
}

.threads {
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  span {
    color: white;
  }

  p {
    font-size: 14px;
    color: white;
    background-color: #161616;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    word-break: break-all;
  }

  small {
    color: white;
    position: absolute;
    right: 5px;
    bottom: 1px;
  }
}

.image-wrapper {
  height: 30px;
  width: 30px;
  border-radius: 50%; /* Macht den Wrapper zu einem Kreis */
  overflow: hidden; /* Schneidet das Bild auf den Kreis zu */
  background-color: #f0f0f0; /* Hintergrundfarbe */
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.singel-threads {
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.thread-header {
  display: flex;
  justify-content: space-between;
  small {
    padding-bottom: 5px;
  }
}

.quick-actions-container {
  width: 100%;
  height: 70px;
  background-color: #161616;

  border-radius: 30px;
  margin-bottom: 40px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;

  justify-content: space-between;
  align-items: center;

  button {
    border-radius: 10px;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Weiche Animation */

    background-color: rgba(26, 26, 26, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); /* Gleichmäßiger Schatten */
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

    &:hover {
      -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); /* Größerer & heller Schatten */
      box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8);
      transform: translateY(-3px); /* Leichtes Anheben */
    }

    .mat-icon {
      margin-right: 10px;
      color: rgb(255, 255, 255);
    }
  }
}

.kpi-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  .kpi-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 48%;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);

    .p1 {
      font-size: 24px;
    }

    p {
      font-size: 20px;
      color: #ffffff;
    }
  }
}

.go-calendar {
  margin-top: 0px;
  font-size: 18px;
  padding: 15px;
  background-color: rgba(26, 26, 26, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); /* Gleichmäßiger Schatten */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Weiche Animation */
}

.go-calendar:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8); /* Größerer & heller Schatten */
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8);
  transform: translateY(-3px); /* Leichtes Anheben */
}

.event-item {
  display: flex;
  justify-content: space-between;
  .mat-icon {
    color: #313132;
  }
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-events-div {
  height: 580px;
  margin-bottom: 20px;
  background-color: rgba(35, 59, 86, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-events-placeholder {
  text-align: center;
  vertical-align: middle;

  font-size: 30px;
  color: #ffffff;
}

.events-container {
  margin-left: 40px;
  width: 700px;
  height: 820px;
  background-color: #161616;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Upcoming Events */
.upcoming-events {
  width: 100%;
  height: 620px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .events-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    list-style: none;
    padding: 20px;
    flex-wrap: wrap;
    height: 580px;
    width: 630px;
  }
}

.events-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 0px;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 150px;
  width: 250px;

  p {
    color: #ffffff;
    font-size: 18px;
  }

  h4 {
    color: #ffffff;
    font-size: 20px;
  }
  .icon-event {
    color: #ffffff;
  }
}

.date-div {
  display: flex;
}

.event-webinar,
.event-meeting,
.event-workshop,
.event-other {
  position: relative;
  background-color: transparent; /* Standardfarbe für alle Karten */
  border-radius: 12px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  transform: scale(1); /* Standardgröße */
  transition: transform 0.5s ease, box-shadow 0.5s ease,
    background-color 0.5s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9); /* Leichter Schatten */
  overflow: hidden; /* Verhindert, dass das Pseudo-Element aus der Karte herausragt */
}

.event-webinar:hover,
.event-meeting:hover,
.event-workshop:hover,
.event-other:hover {
  transform: scale(1.05); /* Vergrößerung beim Hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Größerer Schatten beim Hover */
}

/* Gemeinsamer Stil für das Pseudo-Element */
.event-webinar::before,
.event-meeting::before,
.event-workshop::before,
.event-other::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Nur obere linke Ecke initial einfärben */
  height: 30%;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;
  z-index: -1; /* Hinter dem eigentlichen Inhalt */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 12px;
}

/* Hintergrundfarben für die Pseudo-Elemente */
.event-webinar::before {
  background: #3f51b5; /* Hintergrundfarbe für Webinar */
}

.event-meeting::before {
  background: #9bd414; /* Hintergrundfarbe für Meeting */
}

.event-workshop::before {
  background: #3badeb; /* Hintergrundfarbe für Workshop */
}

.event-other::before {
  background: #53504f; /* Hintergrundfarbe für andere Events */
}

/* Hover-Effekt: Füllt die gesamte Karte mit der Hintergrundfarbe */
.event-webinar:hover::before,
.event-meeting:hover::before,
.event-workshop:hover::before,
.event-other:hover::before {
  width: 100%;
  height: 100%;
  clip-path: inset(0);
}

/* Logs Section */
.logs-section {
  width: 350px;
  height: 480px;
  background-color: transparent;
  border-radius: 30px;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    height: 250px;
    margin-bottom: 50px;

    li {
      margin-bottom: 20px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
      height: 50px;
      width: 100%;
      border-radius: 5px;
      background-color: transparent;

      strong {
        color: white;
        font-weight: 400;
      }

      small {
        color: white;
      }
    }

    .log-message {
      display: flex;
      align-items: center;
    }

    .buttons-comtainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;

      a {
        color: #4f9dff; /* Helles Blau */

        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.go-class {
  font-size: 14px;
  padding: 15px;
  background-color: rgba(26, 26, 26, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5); /* Gleichmäßiger Schatten */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

  color: white;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Weiche Animation */
}

.go-class:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8); /* Größerer & heller Schatten */
  box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.8);
  transform: translateY(-3px); /* Leichtes Anheben */
}

.timer-section {
  width: 650px;
  height: 380px;
  background-color: #161616;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  width: 650px;
  height: 400px;
  background-color: #161616;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  span {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
  }
}

.chart-container {
  transform: scale(1.2); /* Skaliert das gesamte Diagramm um 150% */
  transform-origin: center; /* Zentriert die Skalierung */
}

.chart-h1 {
  font-size: 24px;
  font-family: "DM Sans", serif;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.chart-h1er {
  margin: 0;
  font-size: 24px;
  font-family: "DM Sans", serif;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 50px;
  font-weight: 400;
}

.ngx-charts text {
  fill: #fff;
}

.ngx-charts {
  width: 500px;
  height: 250px;
}

.ngx-charts .gridline-path {
  stroke: rgba(255, 255, 255, 0.1) !important;
}

/* media query  */

@media (max-width: 2100px) {
  .events-container {
    width: 600px;
    height: 820px;
  }

  .left-wrapper {
    width: 1300px;
  }

  .upcoming-events {
    .events-wrapper {
      width: 580px;
    }
  }
}

@media (max-width: 2000px) {
  .chart-wrapper {
    width: 500px;
  }

  .chart-container {
    transform: scale(0.9); /* Skaliert das gesamte Diagramm um 150% */
    transform-origin: center; /* Zentriert die Skalierung */
  }

  .timer-section {
    width: 500px;
  }

  .left-wrapper {
    width: 1150px;
  }
}

@media (max-width: 1860px) {
  .left-wrapper {
    width: 1050px;
  }

  .events-up {
    height: 150px;
    width: 200px;
  }

  .event-webinar::before,
  .event-meeting::before,
  .event-workshop::before,
  .event-other::before {
    content: "";
    width: 60%; /* Nur obere linke Ecke initial einfärben */
  }

  .events-container {
    width: 500px;
    height: 820px;
  }

  .upcoming-events {
    .events-wrapper {
      width: 480px;
    }
  }
}

@media (max-width: 1750px) {
  .left-wrapper {
    width: 850px;
  }

  .chart-wrapper {
    width: 310px;
  }

  .chart-container {
    transform: scale(0.6); /* Skaliert das gesamte Diagramm um 150% */
    transform-origin: center; /* Zentriert die Skalierung */
  }

  .timer-section {
    width: 310px;
  }

  .chart-h1er {
    margin-top: 30px;
    font-size: 18px;
  }

  .ngx-charts text {
    font-size: 20px;
  }
}

@media (max-width: 1550px) {
  .dashboard-component {
    padding: 26px;
  }

  .kpi-cards {
    width: 100%;
    margin-bottom: 40px;

    .kpi-card {
      width: 48%;
      padding-left: 5px;
      padding-right: 5px;

      .p1 {
        font-size: 24px;
      }

      p {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .left-wrapper {
    width: 750px;
  }

  .events-container {
    padding: 15px;
    width: 400px;
    height: 820px;
  }

  .events-up {
    margin-bottom: 20px;
    margin-left: 0px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 150px;
    width: 170px;

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 16px;
      white-space: nowrap;
    }
  }

  .upcoming-events {
    .events-wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0;
      width: 370px;
    }
  }

  .go-calendar {
    margin-top: 0px;
    font-size: 16px;
  }
}

@media (max-width: 1380px) {
  .dashboard-component {
    max-width: 1920px;
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
  }

  .dashboard {
    max-width: 1920px;
    display: flex;
    padding: 46px;
    justify-content: center;
  }
}

@media (max-width: 1170px) {
  .dashboard {
    max-width: 1920px;
    display: flex;
    padding: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-section-noti {
    margin-top: 20px;
    margin-left: 0px;
    width: 750px;
    height: 530px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: transparent;
  }

  .quick-actions-container {
    margin-bottom: 20px;
  }

  .threads {
    margin-bottom: 0;
  }

  .threads-container {
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: none;
    background-color: #161616;
    border-radius: 30px;
  }

  .logs-section {
    background-color: #161616;
    width: 310px;
    height: 480px;

    ul {
      height: 100%;
      margin-bottom: 0px;
      li {
        margin-bottom: 30px;
      }
    }
  }

  .left-wrapper {
    margin-right: 0;
  }
}

@media (max-width: 790px) {
  .quick-actions-container {
    button {
      .mat-icon {
        margin-right: 0px;
      }
    }
  }

  .middle-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .events-container {
    margin-left: 0;
  }

  .left-wrapper {
    width: 400px;
  }

  .d-nonen {
    display: none;
    margin-bottom: 0px;
  }

  .events-container {
    margin-bottom: 30px;
  }

  .chart-wrapper {
    width: 400px;
    margin-bottom: 30px;
  }

  .timer-section {
    width: 400px;
  }

  .right-section-noti {
    flex-direction: column;
    width: 400px;
    margin-top: 30px;
  }

  .dashboard {
    flex-direction: column;
  }

  .threads-container {
    margin-bottom: 30px;
  }

  .logs-section {
    width: 400px;
  }
}

@media (max-width: 440px) {
  .kpi-cards {
    width: 100%;
    margin-bottom: 10px;

    .kpi-card {
      width: 48%;
      padding-left: 5px;
      padding-right: 5px;

      .p1 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  .events-container {
    height: 800px;
    width: 300px;
  }

  .chart-h1 {
    font-size: 20px;
  }

  .left-wrapper {
    width: 300px;
  }

  .events-up {
    margin-bottom: 20px;
    margin-left: 0px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 130px;
    width: 120px;

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 16px;
      white-space: wrap;
    }
  }

  .upcoming-events {
    margin-top: 10px;
    .events-wrapper {
      padding-bottom: 0;
      width: 270px;
      height: 470px;
    }
  }
  .event-webinar::before,
  .event-meeting::before,
  .event-workshop::before,
  .event-other::before {
    content: "";
    width: 100%;
    height: 35%; /* Nur obere linke Ecke initial einfärben */
  }

  .no-events-div {
    width: 290px;
    height: 470px;
  }

  .no-events-placeholder {
    font-size: 24px;
    color: #ffffff;
  }

  .chart-wrapper {
    width: 300px;
    margin-bottom: 30px;
  }

  .timer-section {
    width: 300px;
  }

  .threads-container {
    margin-bottom: 30px;
    width: 300px;
  }

  .logs-section {
    width: 300px;
    margin-bottom: 30px;
  }

  .right-section-noti {
    width: 300px;
    margin-bottom: 30px;
  }
}
