<div class="dashboard-component">
  <div class="dashboard">
    <!-- KPI Cards -->

    <div class="left-wrapper">
      <div class="quick-actions-container">
        <button (click)="goToUserAndOpenDialog()">
          <mat-icon>person_add</mat-icon>
          <p class="d-nonen">Add New User</p>
        </button>

        <button (click)="goToCustomerAndOpenDialog()">
          <mat-icon>group_add</mat-icon>
          <p class="d-nonen">Add New Customer</p>
        </button>

        <button (click)="goToEventAndOpenDialog()">
          <mat-icon>event</mat-icon>
          <p class="d-nonen">Add New Event</p>
        </button>
      </div>

      <div class="middle-wrapper">
        <div class="left-section-wrapper">
          <div class="chart-wrapper">
            <p class="chart-h1er">Task Distribution by Priority</p>
            <div class="chart-container">
              <ngx-charts-bar-vertical
                [results]="chartData"
                [view]="[500, 250]"
                [scheme]="customColorScheme"
                [gradient]="true"
                [animations]="true"
                [barPadding]="100"
                [xAxis]="true"
                [roundEdges]="false"
              >
              </ngx-charts-bar-vertical>
            </div>
          </div>

          <div class="timer-section">
            <app-timer></app-timer>
          </div>
        </div>

        <div class="events-container">
          <div class="kpi-cards">
            
            <div class="kpi-card">
              <p>Events Today</p>
              <p class="p1">{{ eventsToday }}</p>
            </div>
            <div class="kpi-card">
              <p>Events This Week</p>
              <p class="p1">{{ eventsThisWeek }}</p>
            </div>
          </div>

          <div class="upcoming-events">
            <div class="chart-h1">Upcoming Events</div>

           
            <div
              *ngIf="!userEvents || userEvents.length === 0"
              class="no-events-div"
            >
              <p class="no-events-placeholder">No upcoming events</p>
            </div>

          
            <div
              *ngIf="userEvents && userEvents.length > 0"
              class="events-wrapper"
            >
              <li
                class="events-up"
                *ngFor="let event of userEvents; let i = index"
                (click)="openEventDetails(event)"
                [ngClass]="getEventClass(event.type)"
              >
                <div class="event-item">
                  <h4>{{ event.type }}</h4>
                  <mat-icon class="icon-event">event</mat-icon>
                </div>
                <div class="date-div">
                  <p>{{ event.date | date : "MMMM d, y" }}</p>
                </div>
                <div>
                  <p>{{ event.time }}</p>
                </div>
              </li>
            </div>

            <div class="button-div">
              <button class="go-calendar" routerLink="/calendar-angular">
                Go to Calendar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-section-noti">
      <div class="threads-container">
        <div class="chart-h1">Latest Announcements</div>

        <div class="threads">
          <div
            class="singel-threads"
            *ngFor="let thread of threads.slice(0, 3)"
          >
            <div class="thread-header">
              <div class="user">
                <div class="image-wrapper">
                  <img
                    [src]="thread.profilePicture || '/assets/img/user.png'"
                    class="profile-picture"
                    alt="Profile Picture"
                  />
                </div>
                <span>{{ thread.createdBy }}</span>
              </div>

              <small>{{ thread.createdAt | date : "MMM d, y" }}</small>
            </div>
            <p>{{ thread.description | slice : 0 : 30 }}...</p>
          </div>
        </div>

        <button class="go-class" routerLink="/threads">View All</button>
      </div>

      <div class="logs-section-wrapper">
        <div class="logs-section">
          <div class="chart-h1">Recent Activity Logs</div>
          <ul>
            <li
              class="list-elements"
              *ngFor="let log of logs"
              [ngClass]="
                'entity-' + (log.entityType?.toLowerCase() || 'unknown')
              "
            >
              <div class="log-message">
                <strong>{{ log.details?.message }}</strong>
               
              </div>
            </li>
          </ul>
          <button
            *ngIf="logs.length > 0"
            class="go-class"
            (click)="navigateToAllLogs()"
          >
            View All Logs
          </button>
        </div>
      </div>

    
    </div>
  </div>
</div>
